<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="1.6.2" targetFramework="net462" developmentDependency="true" />
  <package id="Fody" version="2.2.1.0" targetFramework="net462" developmentDependency="true" />
  <package id="PDFsharp" version="1.50.4619-beta4c" targetFramework="net462" />
  <package id="Spire.Doc" version="6.0.52" targetFramework="net462" />
</packages>